<!DOCTYPE html>
<html>
<title>What We Do</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static',filename='styles/whatwedo.css') }}">
<script src="{{ url_for('static',filename='whatwedo.js') }}"></script>
 
<!-- Navbar-->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="http://www.google.com/url?q=http%3A%2F%2F127.0.0.1%3A5000%2FFirmIn%2F&sa=D&sntz=1&usg=AFQjCNGelHnCXnzfZ9Vlo2r8sE6d_kAscg" class="w3-bar-item w3-button">FIRMIN</a>
    <div class="navbartabs">
    <a href="http://127.0.0.1:5000/FirmIn/invest/" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i>INVESTORS</a>
    <a href="http://127.0.0.1:5000/FirmIn/client/" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i>CLIENT</a>
      <a href="http://127.0.0.1:5000/FirmIn/login" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i>LOGIN</a>
    </div>
  </div>
</div>
<body>
<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <center><span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">WHAT WE DO</span></center>
    <hr>
  </div>
</div>
<br>
<br>
<!-- Container (About Section) -->

<div class="row">
  <div class="col-md-offset-5 col-md-2"><center><h5 class="w3-red w3-padding-large">OVERVIEW</h5></center></div>
</div>
<div class="w3-content w3-container w3-padding-0">
  <p><center>FirmIn is your guide to systematic solution to the chaos in the data management systems. We seek to continuously manage mammoth amount of data with efficiency and proper categorization and minimizing market inefficiencies.</center></p>
</div>
<br>
<div class="row">
  <div class="col-md-offset-5 col-md-2"><center><h5 class="w3-red w3-padding-large" style="font-family: "Lato", sans-serif">PRODUCTS</h5></center></div>
</div>
<div class="w3-content w3-container w3-padding-0" id="about">
  <p><center>Global institutions. Cutting-edge hedge funds. Industry innovators. All turn to Morgan Stanley for sales, trading, and market-making services as we work to find new forms of investment to generate superior returns.</center></p>
</div>
<br>
<div class="row">
  <div class="col-md-offset-5 col-md-2"><center><h5 class="w3-red w3-padding-large">INVESTMENT</h5></center></div>
</div>
<div class="w3-content w3-container w3-padding-0" id="about">
  <p><center>FirmIn, portfolio managers, employees and technologists work to rigorously identify people with innovative ideas.
        Researchers employ tested processes to identify high-quality trading signals that we believe are undiscovered by the wider market. Our portfolio managers obtain these ideas through our proprietary database with the goal of transforming them into trading strategies. Our technologists automate trading by integrating these strategies into a highly efficient and effective trading platform.</center></p>
</div>

<br>
 <br>
<!-- Footer -->
<footer class="w3-center w3-padding-64" id="footer">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
</footer>
 

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>

</body>
</html>xo